<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be46f">  <td>20/10/24 14:47:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trendyol.LoginStep()[pri:1, instance:Automation.Trendyol@35083305]">LoginStep</td> 
  <td>main@254749889</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/24 14:46:50</td>   <td>-13757</td> <td>&nbsp;</td><td title="&gt;&gt;Trendyol.SetUp()[pri:0, instance:Automation.Trendyol@35083305]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@254749889</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/24 14:47:14</td>   <td>11000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trendyol.UpdateUserInformations()[pri:2, instance:Automation.Trendyol@35083305]">UpdateUserInformations</td> 
  <td>main@254749889</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/24 14:47:24</td>   <td>21079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trendyol.VerificationUpdate()[pri:3, instance:Automation.Trendyol@35083305]">VerificationUpdate</td> 
  <td>main@254749889</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>20/10/24 14:47:25</td>   <td>21659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Trendyol.VerifyUserInformations()[pri:4, instance:Automation.Trendyol@35083305]">VerifyUserInformations</td> 
  <td>main@254749889</td>   <td></td> </tr>
</table>
